# MySQL
MYSQL_ROOT_PASSWORD=attribution2024!
MYSQL_PASSWORD=attr_pass_2024

# 鲸鸿动能回调地址
CALLBACK_URL=https://ppscrowd-drcn.op.hicloud.com/action-lib-track/hiad/v2/actionupload

# AES 加密密钥 (32字符)
ENCRYPTION_KEY=change-me-to-a-32-char-secret!1
